// Colors
$color-dark: #20222b;
$color-dark-med: #3c4251;
$color-dark-med2: #464b5e;
$color-middle: #333745;
$color-bright: #a5afd7;
$color-brightest: #ffffff;
$color-highlight: #8357c5;
$color-error: #e48d7e;

// Spacing
$xs-size: 0.3rem;
$sm-size: 1.0rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;